<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Azerbaycan</title>
    

    
    
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/stillerim.css" rel="stylesheet">

    <link href="css/modern-business.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>    
    <script type="text/javascript" src="js/angularjs.js"></script>  
</head>

<body ng-app="employeeApp">


    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
    
                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">
    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user mr-1"></i> Giriş</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i>Kayıt</a>
                        </li>
                    </ul>
    
                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 7-->
                        <div class="tab-pane fade" id="panel7" role="tabpanel">
    
                            <!--Body-->
                            <div class="modal-body mb-1" ng-controller="GirisCTRL">
                                    <div class="md-form form-sm mb-5">
                                            <i class="fa fa-envelope prefix"></i>
                                            <input type="email" class="form-control form-control-sm validate" ng-model="Ad">
                                            <label data-error="wrong" data-success="right">{{Ad}}</label>
                                        </div>
                                <div class="md-form form-sm mb-5">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="email" class="form-control form-control-sm validate" ng-model="ePocta">
                                    <label data-error="wrong" data-success="right">E-poçtanız</label>
                                </div>
    
                                <div class="md-form form-sm mb-4">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" class="form-control form-control-sm validate" ng-model="sifre">
                                    <label data-error="wrong" data-success="right">Şifreniz</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-info" ng-click="tikla()">Giriş<i class="fa fa-sign-in ml-1"></i></button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1">
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Kapat</button>
                            </div>
    
                        </div>
                        <div class="tab-pane fade in show active" id="panel8" role="tabpanel">
    
                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm mb-5">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">E-poçtanız</label>
                                </div>
    
                                <div class="md-form form-sm mb-5">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput13">Şifreniz</label>
                                </div>
    
                                <div class="md-form form-sm mb-4">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput14">Tekrar Şifre</label>
                                </div>
    
                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-info">Kayıt Ol<i class="fa fa-sign-in ml-1"></i></button>
                                </div>
    
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                        <!--/.Panel 8-->
                    </div>
    
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>


                

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img style="width:60px;height:30px" src="img/Azerbaycan.png" ></a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="internet teknolojisi.html">Azerbaycan Hakkında</a>
                    </li>
                    <li>
                            <a href="TümŞehirler.html">Azerbaycanın tüm şehirleri</a>
                        </li>
                    <li class="dropdown" ng-controller="SehirlerCTRL">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Azerbaycan Turistik Şehirleri<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li >
                                <a href="{{sehir.SehirAdi}}.html" ng-repeat="sehir in sehirler">{{sehir.SehirAdi}}</a>
                            </li>
                        </ul>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="text-center">
                                <a href="" class="glyphicon glyphicon-user" data-toggle="modal" data-target="#modalLRForm"></a>
                        </li>
                    </ul>
                    <li>
                        <a href="iletisim.html">Iletişim</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>





    <header id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image: url('img/blvr3.jpg'); "></div>
                <div class="carousel-caption ">
                   
                </div>
            </div>
            <div class="item ">
                <div class="fill " style="background-image:url( 'img/bulvar.jpg'); "></div>
                <div class="carousel-caption ">
                    
                </div>
            </div>
            <div class="item ">
                <div class="fill " style="background-image:url( 'img/cami.jpg'); "></div>
                <div class="carousel-caption ">
                    
                </div>
            </div>
            <div class="item ">
                    <div class="fill " style="background-image:url( 'img/blvr2.jpg'); "></div>
                    <div class="carousel-caption ">
                        
                    </div>
                </div>
        </div>






        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
    </header>

        <div class="row ">
            <div class="col-lg-12 ">
                <h2 class="page-header ">
                    <strong>Şehirler</strong>
                </h2>
            </div>
            <div ng-controller="SehirlerCTRL">
                <div class="col-md-4"ng-repeat="a in sehirler" >
                    <div class="panel panel-info">
                    
                            <div class="panel-heading ">
                                <a style="font-size:20px" href="{{a.SehirAdi}}.html"><i class="fa fa-fw fa-check "></i>{{a.SehirAdi}}</a>
                            </div>
                            <div class="panel-body ">
                                <p class="a">{{a.SehirHakkinda}}</p>
                                <a href="{{a.SehirAdi}}.html " class="btn btn-info ">Daha fazla</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- <div class="col-md-4 ">
                <div class="panel panel-info ">
                    <div class="panel-heading ">
<a style="font-size:20px" href="Android.html"><i class="fa fa-fw fa-check "></i>Gədəbəy</a>                    </div>
                  <div class="panel-body ">
                        <p>Azerbaycanın doğa güzelliği ile insanı aşık eden Gedebey.</p>
                        <a href="Android.html " class="btn btn-info ">Daha fazla</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-info ">
                    <div class="panel-heading ">
<a style="font-size:20px" href="Microsoft Mobile.html"><i class="fa fa-fw fa-check "></i>Şəki</a>                    </div>
                    <div class="panel-body ">
                        <p>Çok eski ve tarihi bir şehir,Şəki</p>
                        <a href="Microsoft Mobile.html " class="btn btn-info ">Daha fazla</a>
                    </div>
                </div>
            </div> -->
        </div>
        
        <div class="row ">
            <div class="col-lg-12 ">
                <h2 class="page-header "></h2>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <a href="portfolio-item.html ">
                    <img class="img-responsive img-portfolio img-hover " src="img/Baki.jpg" alt=" "> 
					</a>
             </div>
            <div class="col-md-4 col-sm-6 ">
                <a href="portfolio-item.html ">
                    <img class="img-responsive img-portfolio img-hover " src="img/Gedebey.jpg" alt=" ">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <a href="portfolio-item.html ">
                    <img class="img-responsive img-portfolio img-hover " src="img/Seki.jpg" alt=" ">
                </a>
            </div>
           
           
        </div>
        

        <hr>

        <footer>
            <div class="row ">
                <div class="col-lg-12 ">
                    <p>Allakhverdiev Kenan @</p>
                </div>
            </div>
        </footer>

   

    <script src="js/jquery.js "></script>

    <script src="js/bootstrap.min.js "></script>

    <script>
    $('.carousel').carousel({
        interval: 3000 
    })
    </script>
	<script>
			$(".mod ").click(function(){
    $(".gizle ").animate({opacity:'toggle'}, 400);
});
	</script>

</body>

</html>